.users_wrapper {
	font-family: 'Lexend', Helvetica, sans-serif;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
	margin: 20px;
}

.userCard {
	background-color: lightskyblue;
	border-radius: 15px;
	margin: 10px;
	width: 300px;
	text-align: center;
}

.forms {
	margin: 20px;
	display: flex;
	justify-content: center;
	gap: 15px;
	align-items: flex-start;
}

.forms > form {
	display: flex;
	flex-direction: column;
	width: 250px;
	gap: 20px;
	padding: 10px;
	border-radius: 15px;
	border: 1px solid black;
	border-radius: 15px;
}
