* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.trigger {
	margin: 25px auto;
	padding: 5px;
	text-align: center;
	width: 100px;
	background-color: red;
	border-radius: 15px;
}

.trigger_on {
	background-color: green;
}
